RewriteBase / RewriteRule ^ index\.html$ –[L]
RewriteCond % {
  REQUEST_FILENAME
}! - f
RewriteCond % {
  REQUEST_FILENAME
}! - d
RewriteRule. / index.html[L]
Nginx.conf
location / {
  if(!- e $request_filename) {
  rewrite ^ (.*) $ / index.html
  break;
}
}